/*BLOG*/
#wrapper{
    max-width: 980px;
    margin: 0 auto;
}
.images-related-tech{
    padding-top: 30px;
    max-height: 439px;
    overflow: hidden;
}
div.sub-1{
   
    margin-bottom: 6px;
    width: 100%;

}
div.sub-1, div.sub-2{
    margin-left: 4px;
}
.sub-images img{
    width: 100% !important;
    height: 208px !important;
}
.post-about-pro{
    padding-top: 30px;
}
.post-about-pro .box-title{
    color: #272727;
    font-size: 28px;
    font-weight: 700;
    padding: 8px 8px 8px 0;
    text-transform: uppercase;
}
/* div.card-post a.pro-thumb{
    
} */
.post-about-pro .post-container li a.pro-thumb,#post-horizon .post-thumb a{
    overflow: hidden;
}
.post-about-pro .post-container li a.pro-thumb:hover img{
    transform: scale(1.07);
    
}
.post-about-pro .post-container li a.pro-thumb img{
    transition: transform 0.7s;
    height: 170px;
    width: 100%;
}
.post-about-pro  .cp-body {
    padding: 10px;
}

.post-about-pro  .cp-body .post-name{
    font-size: 18px;
    margin-bottom: 10px;
    font-family: Roboto Regular;
    font-weight: 600;
    color: black;
    transition: color 0.5s;
}
.post-about-pro  .cp-body .post-name:hover{
    color: red;
}
.post-about-pro  .cp-body .other-info .excerpt{
    color: #222222;
    margin-bottom: 20px;
}
.post-about-pro  .cp-body small.date i, #post-horizon .post-content small.date i, #detail-post small.date i{
    color: #201e1e;
    margin-right: 2px;
}
.post-about-pro li.col-md-3{

    padding-right: 5px;
    padding-left: 10px;
}

/* POST-HORIZON */
#post-horizon{
    margin-top: 65px;
}
#post-horizon .item{
    border-top: 1px solid #ddd;
}
#post-horizon .post-thumb a img{
    transition: transform 0.7s;
}
#post-horizon .post-thumb a:hover img{
    transform: scale(1.07);
}
#post-horizon .post-content .post-title{
    padding: 4px 0px 4px 0px;
    color: #222;
    display: block;
    font-weight: 700;
    font-size: 25px;
    line-height: 24px;
    margin-top: 10px;
    transition: color 0.5s;
}
#post-horizon .post-content .post-title:hover{
    color: red;
}
.other-info small.date, #detail-post small.date {
    padding: 5px 0px 5px 0;
    margin: 5px 0 5px 0;
    display: inline-block;
}
.other-info .post-excerpt{
    font-size: 18px;
    font-weight: 300;
    color: #222;
    margin: 5px 0px 5px 0;
}
.other-info .author{
    color: #222222;
    font-size: 18px;
}
.other-info .author span{
    color: #536be8;
    font-size: 18px;
    font-weight: 300;
    margin: 5px 0 5px 0;
}
/* BLOG DETAIL */
#detail-post nav{
    padding-top: 33px;
}
.breadcrumb{
    padding-left: 0;
}
.breadcrumb li.active a{
    font-weight: 700;
}
.breadcrumb .breadcrumb-item a{
    color: rgb(53, 46, 46);
}
#detail-post #post-title h1{
margin: 15px 0;
display: inline-block;
font-weight: 700;
font-size: 3.375rem;
line-height: 56px;
color: #000;
word-spacing: 2px;
}
#detail-post p{
    color: #222;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: museo-sans;
    line-height: 30px;
}
div#detail-post div#content li{
    color: #222;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: museo-sans;
    line-height: 20px;
}
ul.pagging {
    list-style: none;
    margin-top: 23px;
    display: inline-block;
}
ul.pagging li{
    float: left;
    padding: 0px 2px;
}
ul.pagging li:last-child a{
    border-top-right-radius:  .25rem;
    border-bottom-right-radius: .25rem;
}
ul.pagging li:first-child a{
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
ul.pagging li a{
    display: block;
    padding: 5px 12px ;
    color:#007bff ;
    border: 1px solid #dee2e6;
}
ul.pagging li.active a{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

div.inner-text{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 100%;
    background-color: rgba(0,0,0,0);
    background: linear-gradient( 
179.46deg
 ,rgba(0,0,0,0) 0,rgba(0,0,0,.82) 100%);
}
div.contain-text{
    position: absolute;
    width: calc(100% - 40px);
    left: 0;
    bottom: 15px;
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
}
div.contain-text1{
    position: absolute;
    width: calc(100% - 40px);
    left: 0;
    bottom: 160px;
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
}
